.root {
  span {
    font-weight: bold;
    align-self: center;
  }

  h1 {
    margin-bottom: 20px;
  }
}

.form {
  max-width: 300px;
  margin: 0 auto;

  p {
    display: flex;
    align-items: center;
  }
}

.status {
  margin-right: 15px;
}

.people {
  margin-right: 5px;
}
.bill {
  margin-right: 38px;
}
